body{
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    background-color: #a2d5f2;
}
h1{
    margin: 50px auto 0 auto;
    padding-top: 50px;
    font-family: "Dancing Script", "Satsify", sans-serif;
    font-size: 5.625rem;
    color: #a2d5f2;
    line-height: 2;
}
h2{
    font-size: 2.5rem;
    font-family: "Satisfy", sans-serif;
    color: #40a8c4;
    font-weight: normal;
    margin: 20px auto;
}
h3{
    margin-top: 0;
    margin-bottom: 20px;
    font-family: sans-serif;
    color: #07689f;
    font-weight: normal;
}
p{
    line-height: 2;
}
.top-container{
    background-color: #07689f;
    position: relative;
    padding-top: 50px;
}
.top-gull{
    position: absolute;
    top: 10%;
    right: 12%;
}
.bottom-gull{
    position: absolute;
    top: 50%;
    left: 12%;
}
.middle-container{
    margin: 0 auto;
    background-color: #a2d5f2;
}
.profile{
    width: 50%;
    margin: 0 auto;
}
.profile-img{
    width: 15%;
    height: 10%;
    margin-top: 20px;
    border-radius: 100%;
}
.skill-row{
    width: 50%;
    margin: 50px auto 100px auto;
    text-align: left;
    line-height: 2;
    height: auto;
}
.comp-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.puzzle-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}
hr{
    border: dotted #808080 6px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto;
    text-align: center;
}
.lastHR{
    margin: 50px auto;
    clear: left;
}
.contact-me{
    height: auto;
    width: 40%;
    margin: 40px auto 60px;
}
.butn {
    /*background: #07689f;
    background-image: -webkit-linear-gradient(top, #07689f, #07689f);
    background-image: -moz-linear-gradient(top, #07689f, #07689f);
    background-image: -ms-linear-gradient(top, #07689f, #07689f);
    background-image: -o-linear-gradient(top, #07689f, #07689f);
    background-image: linear-gradient(to bottom, #07689f, #07689f);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;*/
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #07689f;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
/*.butn:hover {
    background: #a2d5f2;
    background-image: -webkit-linear-gradient(top, #a2d5f2, #a2d5f2);
    background-image: -moz-linear-gradient(top, #a2d5f2, #a2d5f2);
    background-image: -ms-linear-gradient(top, #a2d5f2, #a2d5f2);
    background-image: -o-linear-gradient(top, #a2d5f2, #a2d5f2);
    background-image: linear-gradient(to bottom, #a2d5f2, #a2d5f2);
    text-decoration: none;
}*/
.bottom-container{
    background-color: #07689f;
    margin: 0 auto;
    padding: 40px 0 20px;
}
.footer-link{
    padding-right: 40px;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
#cvhref{
    color: #07689f;
}
a:hover{
    color: #07689f;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
