/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    line-height: 1;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
/*top section*/
.top-container{
    background-color: #07689f;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.top-head, .top-txt{
    color: #a2d5f2;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    margin: 25px;
}
/*middle section*/
.middle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #a2d5f2;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.profile-img{
    height: 150px;
    width: 110px;
    border-radius: 100%;
    margin: 15px 0;
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.skill-pic{
    margin: 15px 0;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.skill-header, .profile-header, .contact-header{
    color: #07689f;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Merriweather', serif;
    margin-bottom: 15px;
}
.skill-text, .intro, .contact-txt {
    letter-spacing: 1px;
    margin-bottom: 20px;
    line-height: 1.5;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.myButton {
	background:linear-gradient(to bottom, #7892c2 5%, #07689f 100%);
	background-color:#07689f;
	border-radius:10px;
	border:1px solid #07689f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
    padding:12px 37px;
    margin-bottom: 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background:linear-gradient(to bottom, #07689f 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}
/*bottom section*/
.bottom-container{
    background-color: #07689f;
    padding-bottom: 25px;
}
hr{
    background-color: rgb(162,213,242);
    border: dotted #808080 6px;
    border-bottom: none;
    width: 4%;
    margin: 30px auto;
    text-align: center;
}
.social-link{
    padding: 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*Responsive CSS*/
@media(min-width: 767px){
    .top-head, .top-txt{
        color: #a2d5f2;
        font-family: 'Dancing Script', cursive;
        font-size: 3em;
        margin: 25px;
    }
    .middle-container{
        display: flex;
        flex-direction: column;
    }
    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 50%;
    }
    .skill{
        display: flex;
        flex-direction: row;
        width: 50%;
        margin: 0 auto;
        border-bottom: none;
    }
    .skill:nth-child(2n+1){
        display: flex;
        flex-direction: row-reverse;
    }
    .skill-pic{
        margin: 20px;
    }
    .skill-header, .profile-header, .contact-header{
        color: #07689f;
        font-weight: 600;
        font-size: 1.5rem;
        letter-spacing: 1px;
        font-family: 'Merriweather', serif;
        margin-bottom: 15px;
    }
    .info{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 25px;
    }
    #middle-skill{
        margin-right: 0;
        margin-left: 25px;
    }
    .footer-txt{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}


